<!-- ORDER INFORMATION -->
<%@sum = 0%>
<h2>Order summary:</h2>
<h3>Order #<%=current_order.id%>, <%=current_order.status%>:</h3>
<%current_order.order_items.each do |item|%>
  <%= link_to "#{Product.find_by(id: item.product_id).name}", product_path(item.product_id) %> : <%=item.quantity%>
  Unit price: <%=Product.find_by(id: item.product_id).price%>
  Item price subtotal:<%=@item_price = (Product.find_by(id: item.product_id).price) * item.quantity%>
  <%(@sum += @item_price) if @item_price>0%>

  <br />
<%end%>
Order total:
$<%= @sum %>
<br />

<!-- ++++SHIPPING INFORMATION++++++++++++++++++++++++++++++++++++++++ -->

<div class="container">
	<div class="row">
		 <form class="form-horizontal">
            <fieldset>
                <!-- Address form -->

                <h2>Shipping Information</h2>

                <%= form_for @order, url: get_rates_path do |f| %>

                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="address line 1"
                        class="input-xlarge">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2"
                        class="input-xlarge">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- country-->
                <div class="control-group">
                    <label class="control-label"> Country </label>
                    <div class="controls">
                        <input id="country" name="country" type="text" placeholder="country"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
                        class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- submit-tag input-->
                <input type="submit" value="Get Rate" class"btn btn-success">
                <% end %>
            </fieldset>
        </form>
	</div>
</div>



<!-- BILLING INFORMATION~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<h2>Enter your order details below:</h2>
CVV:
<%= form_for @order, url: cart_checkout_path, html: {method: :patch} do |f| %>

  <p><%= f.label :cc_digits %>
  <%= f.text_field :cc_digits, length: {is:16}%></p>

  <p><%= f.label :expiration %>
  <%= f.date_select :expiration, required: true %></p>

  CCV:
  <%= text_field "CVV", required: true %>

  <p>Name:
  <%= text_field "Name", required: true %></p>

  <p><%= f.label :mailing_address %>
  <%= f.text_field :mailing_address, required: true%></p>

  Billing zip code:
  <%= text_field "Zip", required: true %>

  <p>
    <% if session[:user_id] %>
      <%= hidden_field_tag :user_id, session[:user_id] %>
    <%end%>
    <%= f.submit "Place Order"%>
  </p>
<%end%>
