<h2>Edit your products:</h2>

<section class="container col-xs-8">
  <%@products.each do |product|%>
    <%= link_to product.name, product_path(product.id)%>
    <br />
  <%end%>

  <h2>Your orders:</h2>

  <%@paid_sum = 0%>
  <%@complete_sum = 0%>


  <% if @order_items_paid %>

  Orders waiting to be shipped:
    <%@order_items_paid.each do |item| %>

    <div class = "paid orders">


      <%= link_to Product.find(item.product_id).name, product_path(item.product_id)%>: <%= User.find_by(id: item.order.user_id).nil? ? "Guest" : "#{User.find_by(id: item.order.user_id).username}" %>
      <% @paid_sum += item.checkout_price * item.quantity%><div class = "price">Unit price: $<%= item.checkout_price %>
      Subtotal: $<%= item.checkout_price * item.quantity%></div>
      <%= item.order.updated_at %> <%= item.order.status%>

    </div>

    <%= link_to "View Order Information", order_path(item.order_id) %>
    <%end%>
      Status "paid" total: $<%=@paid_sum%>
  <%end%>

  <% if @order_items_complete %>
    Complete orders:
    <%@order_items_complete.each do |item| %>
      <div class = "complete orders"
      <%= link_to Product.find(item.product_id).name, product_path(item.product_id)%>: <%= User.find_by(id: item.order.user_id).username%>
      <% @complete_sum += (item.checkout_price * item.quantity)%><div class = "price">
      Unit price: $<%= item.checkout_price %>
      Subtotal: $<%= item.checkout_price * item.quantity%></div>
      <%= item.order.updated_at %> <%= item.order.status%>
    </div>
    <%end%>
  Status "complete" total: $<%=@complete_sum%>
  <%end%>
  Total revenue: $<%= @complete_sum + @paid_sum%>
  
<%end%>
