
<section class="container col-xs-9">

  <div class="panel panel-default">
    <div class="panel-heading">Edit your products:</div>
    <%@products.each do |product|%>
      <%= link_to product.name, product_path(product.id)%>
      <br />
    <%end%>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Orders waiting to be shipped</div>

    <%@paid_sum = 0%>
    <%@complete_sum = 0%>

    <% if @order_items_paid %>


    <table class="table table-striped">
      <thead>
      <tr>
        <th>Order Id</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Product</th>
        <th>Username</th>
        <th>Unit Price</th>
        <th>Subtotal</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <%@order_items_paid.each do |item| %>
          <tr>
            <td><%= link_to item.order_id, order_path(item.order_id) %></td>
            <td><%= item.order.updated_at %></td>
            <td><%= item.quantity %></td>
            <td><%= link_to Product.find(item.product_id).name, product_path(item.product_id)%></td>
            <td><%= User.find_by(id: item.order.user_id).nil? ? "Guest" : "#{User.find_by(id: item.order.user_id).username}" %></td>
            <td>$<%= item.checkout_price %></td>
            <td>$<%= item.checkout_price * item.quantity%></td>
            <td><%= item.order.status%></td>
            <% @paid_sum += item.checkout_price * item.quantity%><br>
          </tr>
        <%end%>
      <tbody>
    </table>
        Status "paid" total: $<%=@paid_sum%>
    <%end%>

    <% if @order_items_complete %>
      <strong>Complete orders:</strong>
      <%@order_items_complete.each do |item| %>
        <div class = "complete orders"
        <%= link_to Product.find(item.product_id).name, product_path(item.product_id)%>: <%= User.find_by(id: item.order.user_id).username%>
        <% @complete_sum += (item.checkout_price * item.quantity)%><div class = "price">
        Unit price: $<%= item.checkout_price %>
        Subtotal: $<%= item.checkout_price * item.quantity%></div>
        <%= item.order.updated_at %> <%= item.order.status%>
      </div>
      <%end%>
    Status "complete" total: $<%=@complete_sum%>
    <%end%>
    Total revenue: $<%= @complete_sum + @paid_sum%>
  </div>
</section>
