<h1>Products</h1>
<% if @category %>
  <h3>Filtered By <%= @category.titleize %></h3>
<% end %>
<section class="container col-xs-8">
  <article>
    <div>
      <% @products.each do |product| %>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
            <section class = "panel-body"><a href= "<%=product_path(product.id)%>" >
            <li class = "panel-body"><a href= "<%=product_path(product.id)%>" >
              <%= image_tag(product.photo_url, :crop => :fill, class: "img-responsive", style: "padding-left: 0px;  padding-right: 0px;") %>
              <!-- <div><%#= image_tag(product.photo_url) %></div> -->
               <caption>
            </section>
            <div class="panel-heading"><%=product.name%></div>
          </caption>
        </div>
      </div>
      <%end%>
    </div>
  </article>
</section>

<section>
  <% if current_user %>
  <li class=""><%= button_to "Add a new product!", new_user_product_path(current_user.id), :method => :get %></li>
  <% end %>
</section>
