<h1>Products</h1>
<% if @category %>
  <h3>Filtered By <%= @category.titleize %></h3>
<% end %>

<section class="container col-xs-8">
  <ul>
    <div>
      <% @products.each do |product| %>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><%=product.name%></div>
            <li class = "panel-body"><a href= "<%=product_path(product.id)%>" >
              <img src="<%=product.photo_url%>" class="img-rounded" style="width:240px;height:200px;">
               <caption>
               </caption>
              </img></a>
            </li>
        </div>
      </div>
      <%end%>
    </div>
  </ul>
</section>

<section>
  <% if current_user %>
  <li class=""><%= button_to "Add a new product!", new_user_product_path(current_user.id), :method => :get %></li>
  <% end %>
</section>
