<h1>Products</h1>
<% if @category %>
  <h3>Filtered By <%= @category.titleize %></h3>
<% end %>

<section>
  <ul>
    <% @products.each do |product| %>
      <li class = "product"><a href= "<%=product_path(product.id)%>" class = "product-image">
        <%= image_tag product.photo_url %>>
       <caption>
         <%=product.name%>
       </caption>
     </img></a>
     </li>
    <%end%>
  </ul>
</section>

<section>
  <% if current_user %>
  <li><%= button_to "Add a new product!", new_user_product_path(current_user.id), :method => :get %></li>
  <% end %>
</section>
