<h1>Product Detail:</h1>

<h2>Name:</h2>
   <%= @product.name %>
<h2>Price:</h2>
  <%= @product.price %>
<h2>Seller ID:</h2>
  <%= @product.user_id %>
<h2>In Stock:</h2>
   <%= @product.stock %>
<h2>Description:</h2>
   <%= @product.description %>
<h2>Category:</h2>
  <%= @product.category %>
  <%= image_tag(@product.photo_url) %>

<%= link_to "Leave a review for this product", new_product_review_path(@product.id)%>
<h2>Reviews</h2>
 <%= @product.reviews.count %>
   <% @product.reviews.each do |review| %>
      <li><%= review.rating %></li>
      <li><%= review.content %></li>

        <% end %>


<% if @product.stock == 0 %>
  This item is out of stock.
<%else%>

  <% if @order_item.nil? %>
  <% #product is not in cart at all %>
    <%= button_to "Add to Cart", add_to_cart_path(product_id: @product.id), :method => :post %>

  <% else %>
  <% #product is already in cart, update quantity %>
    Product already in cart. Update quantity:
    <%= form_tag url_for(:controller => 'order_items', :action => 'update') do%>
      <%= label_tag :quantity, "Items in cart:" %>
      <% array = (1..@product.stock).to_a %>
      <%= select_tag(:quantity, options_for_select(array, @order_item.quantity)) %>
      <%= hidden_field_tag :id, @order_item.id %>
      <%= submit_tag "Update"%>
      <%= link_to "Delete", delete_order_item_path(@order_item.id), method: :delete %>
    <% end %>

  <%end%>
<%end%>
