<%= form_for [@product, @review] do |f| %>
  <p><h3>Item rating (1-5): </h3>
    <%= f.label :rating do %>
    <%= f.text_field :rating, placeholder: "5" %></p>
  <%end%>

  <p><h3>Review: </h3>
    <%= f.label :content do %>
    <%= f.text_area :content, placeholder: "I love that you've probably never heard of it"%></p>
  <%end%>

  <%= f.hidden_field(:product_id, value: @product.id) %>

  <p><%= f.submit %></p>
<%end%>
