<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Hipsterly</h1>

  <%= "Hi #{username}" %>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "New Product", new_user_product_path(session[:user_id]) if current_user %></li>
      <li><%= link_to "Log In", new_session_path unless current_user %></li>
      <li><%= link_to "Log Out", logout_path, method: :delete if current_user %></li>
    </ul>
  </nav>

<%= yield %>

  <h6>By the Lumbersexuals</h6>

</body>
</html>
